.d-flex{
    display: flex;
}
.j-center{
    justify-content: center;
}
.a-center{
    align-items: center;
}
.a-baseline{
    align-items: baseline;
}
.space-between{
    justify-content: space-between;
}
.flex-collumn{
    flex-direction: column;
}
.flex-grow{
    flex-grow: 1;
}
.t-end{
    text-align: end;
}
.a-end{
    align-items: flex-end;
}

