*, *::before, *::after {
  box-sizing: border-box;
  font-family: "Nanum Gothic", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.4rem;
  font-weight: 400;
  height: 100%;
}

html {
  font-size: 62.5%;
  overflow-y: scroll;
  height: 100%;
}

svg {
  width: 1em;
  height: 1em;
  fill: #fff;
  font-size: 2rem;
  vertical-align: -0.1875em;
  cursor: pointer;
}

.text-white {
  color: #fff;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mb-3-half {
  margin-bottom: 3.5rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.mb-5 {
  margin-bottom: 5rem;
}

.mb-6 {
  margin-bottom: 6rem;
}

.mb-10 {
  margin-bottom: 10rem;
}

.m-7 {
  margin-right: 7.5rem;
  margin-left: 7.5rem;
}

.mr-0 {
  margin-right: 0;
}

.mr-1 {
  margin-right: 1rem;
}

.mr-3 {
  margin-right: 3rem;
}

.mb-1-half {
  margin-bottom: 1.5rem;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li {
  list-style-type: none;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: #fff;
}

.text-center {
  text-align: center;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.logo {
  font-size: 1.7rem;
}

button {
  border: none;
  cursor: pointer;
}

.pt-2 {
  padding-top: 2rem;
}

h1, .h1 {
  margin: 0;
  font-family: "Maven Pro", sans-serif;
  font-weight: 900;
  font-size: 3rem;
  letter-spacing: 3px;
}

h2, .h2 {
  margin: 0;
  font-family: "Maven Pro", sans-serif;
  font-weight: 900;
  font-size: 2.5rem;
}

h3, .h3 {
  margin: 0;
  font-family: "Maven Pro", sans-serif;
  font-weight: 900;
  font-size: 1.8rem;
}

h4, .h4 {
  margin: 0;
  font-family: "Maven Pro", sans-serif;
  font-weight: 900;
  font-size: 1.6rem;
}

h5, .h5 {
  margin: 0;
  font-family: "Maven Pro", sans-serif;
  font-weight: 900;
  font-size: 1.4rem;
}

h6, .h6 {
  margin: 0;
  font-family: "Maven Pro", sans-serif;
  font-weight: 900;
}

.d-flex {
  display: flex;
}

.j-center {
  justify-content: center;
}

.a-center {
  align-items: center;
}

.a-baseline {
  align-items: baseline;
}

.space-between {
  justify-content: space-between;
}

.flex-collumn {
  flex-direction: column;
}

.flex-grow {
  flex-grow: 1;
}

.t-end {
  text-align: end;
}

.a-end {
  align-items: flex-end;
}

.banner {
  background-image: linear-gradient(to right, #7BDE73, #6DC4D6);
  padding: 7.5px 0;
}

.btn {
  font-size: 1.39rem;
  background-color: #fff;
  font-weight: 800;
  border-radius: 2rem;
  padding: 0.95rem 1.5rem;
  letter-spacing: 1.26px;
}
.btn:nth-child(2) {
  margin: 0 2rem;
}

.btn-green {
  color: #7BA553;
}

.btn-blue {
  color: #6DC4D6;
}

.user-icon {
  fill: #6DC4D6;
  font-size: 1.3rem;
  margin-right: 1rem;
}

.phone::after {
  content: "";
  height: 1.6rem;
  display: block;
  width: 2px;
  background: #fff;
  margin-left: 1rem;
}
.phone svg {
  font-size: 1.5rem;
}
.phone span {
  margin-left: 1rem;
}

.mail {
  margin: 0 2rem;
}
.mail span {
  margin-left: 1rem;
}
.mail svg {
  font-size: 1.3rem;
}

.social svg {
  margin: 0 1rem;
  font-size: 1.5rem;
}
.social .tw-icon {
  font-size: 1.8rem;
}
.social .yt-icon {
  font-size: 2rem;
}
.social .logo-it {
  margin-left: 1rem;
  font-size: 1.5rem;
}

.banner-info {
  max-width: 32%;
}

.navbar {
  padding: 2.75rem 0;
}

.nav-link {
  max-width: 70%;
  font-size: 1.6rem;
  font-weight: bold;
}
.nav-link ul li {
  margin-right: 3rem;
}
.nav-link ul li a {
  color: #7D9589;
}

.search-svg {
  fill: #7D9589;
  font-size: 2rem;
}

.logo {
  max-width: 15.5%;
  display: block;
  cursor: pointer;
}

.svg-down {
  fill: #7D9589;
  font-size: 1rem;
}

.title-page {
  text-align: center;
  max-width: 64%;
  margin: auto auto 4rem;
}
.title-page h1 {
  color: #D04E32;
  margin-bottom: 4rem;
}
.title-page h1::after {
  height: 3px;
  content: "";
  width: 6rem;
  background: #D04E32;
  margin: 2rem auto 0;
  display: block;
}
.title-page .title-description {
  max-width: 20.83%;
  font-size: 1.6rem;
  font-family: "Nanum Gothic", sans-serif;
  margin: auto;
  text-align: center;
}
.title-page .title-description a {
  text-decoration: underline;
  text-underline-offset: 3px;
  color: #337AB7;
}

.multipe-btn {
  position: fixed;
  top: 45%;
  display: flex;
  flex-direction: column;
  left: 20px;
}
.multipe-btn svg {
  font-size: 4rem;
  margin-bottom: 2.2rem;
}

footer {
  background-color: #7D9589;
  color: #fff;
}

.content-f {
  padding: 6rem 0 1.7rem;
}

.mail-content {
  max-width: 31.8%;
  margin-right: 14rem;
}
.mail-content .social {
  margin-left: -1rem;
  justify-content: flex-start;
}

.acces-content {
  max-width: 16.3%;
}
.acces-content span {
  font-size: 1.2rem;
}

.info-content {
  max-width: 31.8%;
}

.form-mail {
  position: relative;
}

.ok-btn {
  background-color: #fff;
  color: #7BA553;
  width: 4.5rem;
  height: 4.5rem;
  right: 0;
}

.btn-circle {
  border-radius: 40px;
  position: absolute;
  font-weight: 900;
}

.input-mail {
  position: relative;
  border-radius: 3rem;
  border: solid 1px #fff;
  background-color: transparent;
  outline: none;
  width: 100%;
  height: 45px;
  padding: 0 2rem;
}
.input-mail::placeholder {
  color: #fff;
}

.acces-content {
  margin-right: 12.5rem;
}

.acces-links li {
  margin-bottom: 0.9rem;
}
.acces-links li a {
  color: #fff;
}

.info-content img {
  filter: brightness(0) invert(1);
}
.info-content p span {
  display: block;
  margin-bottom: 0.9rem;
}

.checkbox-block {
  margin-left: 2rem;
}
.checkbox-block label {
  font-size: 1.2rem;
}

.container {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 1.4rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the  default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create fake checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.5rem;
  width: 1.5rem;
  background-color: transparent;
  border: 1px #fff solid;
}

/* if checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #fff;
}

/* Create the checkmark and hidden it */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the symbol of chicked */
.container .checkmark:after {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 7px;
  height: 10px;
  border: solid blue;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(35deg);
  -ms-transform: rotate(35deg);
  transform: rotate(35deg);
}

.search-block {
  background-color: #A7BE8A;
  border-radius: 1rem;
  padding: 2rem;
}

.search-container {
  position: relative;
}
.search-container .search-infoPerso {
  border-radius: 25px 0 0 25px;
  width: 61.92%;
}
.search-container .search-infoPerso::placeholder {
  color: black;
}
.search-container .search-infoLocal {
  border-radius: 0 25px 25px 0;
  box-shadow: -7px 0px 0px -5px rgb(168, 168, 168);
  width: 38%;
}
.search-container .search-infoLocal::placeholder {
  color: black;
  font-size: 1.4rem;
}
.search-container .search-btn {
  background-color: #A7BE8A;
  color: #fff;
  width: 4rem;
  height: 4rem;
  right: 0.6rem;
  top: 0;
  bottom: 0;
  margin: auto;
}
.search-container .search-btn a .search-svg {
  fill: #fff;
}

.search-input {
  border: none;
  height: 5rem;
  padding-left: 1.5rem;
  outline: none;
}

.triage-block .btn-triage {
  max-width: 42%;
  width: 100%;
  padding: 2rem 0;
  border-radius: 4rem;
  color: #fff;
}
.triage-block .green-btn-lg {
  background-color: #7BA553;
}
.triage-block .blue-btn-lg {
  background-color: #6DC4D6;
}

.trie-svg {
  font-size: 1.5rem;
}

.svg-acco {
  font-size: 8.5rem;
  height: auto;
  margin-left: 1rem;
}

.members .maps {
  max-width: 32.53%;
  width: 41rem;
}
.members .maps .carte-maps {
  border-radius: 1rem;
}

#map {
  width: 100%;
  border-radius: 10px;
}

.list-members {
  max-width: 67.48%;
  width: 100%;
}

.members-info {
  display: flex;
  padding: 0.5rem 1rem;
  align-items: center;
  height: 8rem;
}

.wd-img {
  max-width: 10.47%;
}
.wd-img .member-img {
  border-radius: 50%;
  display: flex;
  align-items: center;
  background-color: white;
  justify-content: center;
  margin-right: 2rem;
  height: 7rem;
  width: 7rem;
}
.wd-img .member-img img {
  width: 92%;
  display: block;
}

.member-name {
  margin-right: 7rem;
  max-width: 35.02%;
  width: 100%;
}
.member-name span {
  font-size: 1.2rem;
}

.localisation {
  max-width: 17.9%;
  margin-right: 3.2rem;
  width: 100%;
}

.adherant-logo {
  max-width: 13.92%;
  margin-right: 1rem;
}
.adherant-logo img {
  width: 9.3rem;
  height: 7.6rem;
  display: block;
}

.adherant-acco {
  max-width: 15.71%;
}
.adherant-acco .svg-acco-lg {
  font-size: 10.5rem;
  height: auto;
  margin-right: 3rem;
}

.wd-btn {
  max-width: 3%;
  width: 100%;
}
.wd-btn .btn-plus {
  width: 2rem;
  height: 2rem;
  background-color: #D04E32;
  border-radius: 1rem;
  color: #fff;
}
.wd-btn .btn-plus span {
  font-size: 1.5rem;
}

.adherant-inconnu {
  background-color: rgba(123, 149, 136, 0.1529411765);
}
.adherant-inconnu .member-name h5 {
  color: #6DC4D6;
}

.adherant .member-name h5 {
  color: #7BA553;
}
.adherant .member-name .green-span {
  color: #7B9588;
}
.adherant .localisation > span {
  color: #7D9589;
  font-size: 1.2rem;
  margin-left: 2rem;
}
.adherant .wd-img .member-img {
  position: relative;
}
.adherant .wd-img .member-img img {
  border-radius: 50%;
  width: 7rem;
}
.adherant .wd-img .member-img .adh-img {
  position: absolute;
  width: 4.5rem;
  border-radius: 0;
  bottom: -2px;
}

.cover-page {
  position: relative;
}
.cover-page .cover-title {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.cover-page .cover-img {
  position: relative;
}
.cover-page .cover-img::before {
  content: "";
  background: linear-gradient(to right, #7bde73, #6DC4D6);
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  border-radius: 0px 0px 10px 10px;
}
.cover-page .background-cover {
  background-image: url(/img/img_cover.png);
  background-repeat: no-repeat;
  height: 270px;
  max-height: 270px;
  object-fit: cover;
  border-radius: 0px 0px 10px 10px;
}
.cover-page .cover-title h1::after {
  height: 3px;
  content: "";
  width: 6rem;
  background: #fff;
  margin: 1rem auto 2.5rem;
  display: block;
}
.cover-page .cover-title ul li span {
  font-size: 1.2rem;
}
.cover-page .cover-title ul li a {
  font-size: 1.2rem;
  text-decoration: underline;
  text-underline-offset: 3px;
}
.cover-page .cover-title ul li a::after {
  content: "";
  height: 1rem;
  display: inline-block;
  width: 2px;
  background: #fff;
  margin: 0 1rem;
}

.acteur-info {
  max-width: 74.41%;
  width: 100%;
  padding: 2rem;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.0509803922);
}
.acteur-info .info-details {
  width: 100%;
}
.acteur-info .info-details .block-name h3 {
  color: #D04E32;
  margin-bottom: 0.8rem;
}
.acteur-info .info-details .block-local h4 {
  color: #7B9588;
  font-weight: 500;
  margin-bottom: 0.8rem;
}
.acteur-info .info-details .block-acco .svg-acco {
  font-size: 6rem;
}
.acteur-info .info-details .member-img {
  width: 8rem;
  height: 8rem;
  position: relative;
}
.acteur-info .info-details .member-img img {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
}
.acteur-info .info-details .member-img .adh-img {
  width: 5.5rem;
  height: 2.2rem;
  position: absolute;
  border-radius: 0;
  display: block;
  bottom: -3px;
}
.acteur-info .acteur-parcour h5 {
  color: #7B9588;
  margin-bottom: 1rem;
}

.acteur-adresse h5 {
  color: #7B9588;
  margin-bottom: 1rem;
}

.acteur-contact {
  max-width: 23.25%;
  width: 100%;
  padding: 2rem;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.0509803922);
}
.acteur-contact .acteur-mail h5 {
  color: #7B9588;
  margin-bottom: 1rem;
}

.acteur-num .btn {
  background-color: #7D9589;
  padding: 0.5rem;
  margin-right: 0.5rem;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.0980392157);
}
.acteur-num .btn .svg-phone {
  background-color: rgba(255, 255, 255, 0.3960784314);
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 2rem;
}
.acteur-num .btn .svg-phone svg {
  font-size: 1.4rem;
}
.acteur-num > span {
  background-color: #478795;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 2rem;
}
.acteur-num > span .ik-icon {
  font-size: 1.7rem;
}

.acteur-participe .participe-block {
  max-width: 48.83%;
  padding: 2rem;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.0509803922);
  width: 100%;
}
.acteur-participe .participe-block h5 {
  color: #7B9588;
  margin-bottom: 1rem;
}

.structure .acteur-info {
  max-width: 50%;
}
.structure .acteur-info .info-details .member-img img {
  border-radius: 0;
  height: auto;
  position: absolute;
  display: block;
  top: 50%;
  transform: translateY(-50%);
}
.structure .acteur-num .btn {
  margin-right: 0;
}
.structure .adherant-logo {
  max-width: 100%;
}
.structure .adherant-logo img {
  width: 7.3rem;
  height: 6rem;
}
.structure .acteur-info .info-details .block-acco .svg-acco {
  font-size: 8.5rem;
}

.str-map {
  max-width: 50%;
  width: 64.5rem;
}

.collaborateur {
  margin-bottom: 7rem;
}
.collaborateur h3 {
  color: #7B9588;
  margin-bottom: 4.5rem;
}
.collaborateur .card {
  max-width: 25%;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.0509803922);
  padding: 2rem 6rem;
  width: 100%;
}
.collaborateur .card .card-img {
  margin-bottom: 1.5rem;
}
.collaborateur .card .card-img img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}
.collaborateur .card .card-name {
  margin-bottom: 1rem;
}
.collaborateur .card .card-name h5 {
  margin-bottom: 0.5rem;
  color: #7B9588;
}
.collaborateur .card .card-badge .svg-acco {
  font-size: 6.1rem;
  margin-left: 0;
}

.accompagnateur .adherant-logo {
  margin-right: 3rem;
}
.accompagnateur .adherant-logo img {
  width: 10.5rem;
  height: 5.6rem;
}
.accompagnateur .localisation {
  margin-right: 14.9rem;
}

/*# sourceMappingURL=style.css.map */
