.accompagnateur{

    .adherant-logo{
        margin-right: 3rem;
         img {
            width:10.5rem;
            height: 5.6rem;
        }
    }
    .localisation{
        margin-right: 14.9rem;
    }
}