.acteur-info{
    max-width: 74.41%;
    width: 100%;
    padding: 2rem;
    box-shadow: 0px 3px 15px #0000000D;
    .info-details{
        width: 100%;
        .block-name{
            h3{
                color: #D04E32;
                margin-bottom: 0.8rem;
            }
        }
        .block-local{
            h4{
                color: #7B9588;
                font-weight: 500;
                margin-bottom: 0.8rem;
            }
        }
        .block-acco{
            .svg-acco{
                font-size: 6rem;
            }
        }
        .member-img{
            width: 8rem;
            height: 8rem;
            position: relative;
            img{
                width: 8rem;
                height: 8rem;
                border-radius: 50%;
            }
            .adh-img{
                width: 5.5rem;
                height: 2.2rem;
                position: absolute;
                border-radius: 0;
                display: block;
                bottom: -3px;
            }
        }
    }
    .acteur-parcour{
        h5{
            color: #7B9588;
            margin-bottom: 1rem;
        }
    }
}
.acteur-adresse{
    h5{
        color: #7B9588;
        margin-bottom: 1rem;
    }
}
.acteur-contact{
    max-width: 23.25%;
    width: 100%;
    padding: 2rem;
    box-shadow: 0px 3px 15px #0000000D;
    .acteur-mail{
        h5{
            color: #7B9588;
            margin-bottom: 1rem;
        }
    }
}
.acteur-num{
        .btn{
            background-color: #7D9589 ;
            padding: 0.5rem;
            margin-right: 0.5rem;
            box-shadow: 0px 3px 6px #00000019;
            .svg-phone{
                background-color: #FFFFFF65;
                width: 2.5rem;
                height: 2.5rem;
                border-radius: 2rem;
                svg{
                    font-size: 1.4rem;
                }
            }
        }
        > span{
            background-color: #478795;
            width: 3.5rem;
            height: 3.5rem;
            border-radius: 2rem;
            .ik-icon{
                font-size: 1.7rem;
            }
        }
}
.acteur-participe{

    .participe-block{
    max-width: 48.83%;
    padding: 2rem;
    box-shadow: 0px 3px 15px #0000000D;
    width: 100%;
    h5{
        color: #7B9588;
        margin-bottom: 1rem;
    }
    }
}
